
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
  <title>Bootstrap Theme</title>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- Don't Edit below this line -->
<link rel="stylesheet" href="css/admin.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/datatables-select.css">
<link rel="stylesheet" href="css/datatables.css">
<link rel="stylesheet" href="css/mdb.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/toastr.css">
